<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
          http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
          http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">
          
  	<!-- default thread pool will only have a single thread.  -->
	<!-- 调度线程池的大小，调度线程在被调度任务完成前不会空闲  -->
	<task:scheduler id="gameScheduler" pool-size="2"/>
	<task:scheduled-tasks scheduler="gameScheduler"  >
		<!-- 定时处理过期邮件 -->
		<task:scheduled ref="jobManager" method="emailJob" cron="59 59 23 * * ?" />
		<!-- 定时处理过期红包
		<task:scheduled ref="jobManager" method="clearHongbaoJob" cron="0 0 2 * * ?" />
		 -->
		<!-- 跨服鲜花魅力榜
		<task:scheduled ref="jobManager" method="flowerCharmRankJob" cron="40 59 23 * * ?"  />
		 -->
		<!-- 门派boos数据清理
		<task:scheduled ref="jobManager" method="clearGuildLianyuBoss" cron="1 0 0 * * ?" />
		 -->
		
		<!-- 定时拉全平台定制称号 initial-delay=启动后延迟60秒再执行， fixed-rate=每间隔300秒执行一次
		<task:scheduled ref="jobManager" method="fetchDingZhiChenghao" initial-delay="60000" fixed-rate="300000" />
		-->
		<!-- 定时刷新排行 -->
		<task:scheduled ref="jobManager" method="refreshRankJob" cron="0 2 * * * ?" />
		
		<!-- 定时结算消费排名邮件 
		<task:scheduled ref="jobManager" method="xiaofeiEmailJob" cron="30 59 23 * * ?" />
		-->
		
		<!-- 定时结算单服充值排名邮件 
		<task:scheduled ref="jobManager" method="danFuChargeRankJob" cron="00 50 23 * * ?" />
		-->
		
		<!-- 跨服充值排名活动
		<task:scheduled ref="jobManager" method="chargeRankJob" cron="45 59 23 * * ?" />	
		-->
		<!-- 跨服xiaofei排名活动
		<task:scheduled ref="jobManager" method="xiaoFeiRankJob" cron="45 59 23 * * ?" />	
		-->
		<!-- 每日23点上报腾讯大区日志
		<task:scheduled ref="jobManager" method="qzoneDaquShangBao" cron="0 0 23 * * ?" />	
		-->
		
		<!-- 定时启动日常活动 
		<task:scheduled ref="jobManager" method="dingshiActiveJob" cron="0 1 0 * * ?" />
		-->
		<!-- 定时打印在线人数日志 -->
		<task:scheduled ref="jobManager" method="onlineLog" cron="0 */5 * * * ?" />
	
		<!-- 定时打印玩家昨日在线时长日志 -->
		<task:scheduled ref="jobManager" method="roleOnlineLog" cron="1 0 0 * * ?" />
		
		<!-- 每日提前重新读热发布有关系配置表 
		<task:scheduled ref="jobManager" method="reFbGxEveryDayAnalysis" cron="55 59 23 * * ?" />
		-->
		<!-- 整点刷新公会 
		<task:scheduled ref="jobManager" method="refreshGuild" cron="0 0 * * * ?" />
		-->
		<!-- pps每日用户数据推送  每日0点0分3秒
		<task:scheduled ref="jobManager" method="ppsEveryDayRoleDatas" cron="3 0 0 * * ?" />
		-->
		<!-- 定时清空团购活动数据，每天23点59分50秒执行一次
		<task:scheduled ref="jobManager" method="qingkongTuanGouData" cron="50 59 23 * * ?" />
		 -->
		<!-- 定时结算团购活动 
		<task:scheduled ref="jobManager" method="tuanGouEmail" cron="0 0 20 * * ?" />
		-->
		<!-- 发送上小时创号情况 -->
		<task:scheduled ref="jobManager" method="sendCreateInfoJob" cron="0 3 * * * ?" />
		<!-- 跨服大乱斗海选赛 
		<task:scheduled ref="jobManager" method="luanDouHaiXuan" cron="30 59 11 * * ?" />
		-->
		<!-- 跨服群仙宴 
		<task:scheduled ref="jobManager" method="qunxianyan" cron="30 58 23 * * ?" />
		-->
		<!-- 跨服大乱斗结束结算 
		<task:scheduled ref="jobManager" method="luanDouJieSuan" cron="0 55 20 * * ?" />
		-->
		<!-- 跨服大乱斗与巅峰之战排名数据更新:大乱斗开始报名时间 :每周一23:59:00 
		<task:scheduled ref="jobManager" method="kuafuRankClear" cron="0 59 23 ? * MON"/>
		-->
		<!-- 跨服巅峰之战轮训战 每周四20:35-20:50 每5分钟一轮,共4轮  
		<task:scheduled ref="jobManager" method="dianfengFight" cron="0 35-50/5 20 ? * THU"/>
		-->
		<!-- 跨服巅峰之战结束发奖 
		<task:scheduled ref="jobManager" method="dianfengReward" cron="0 55 20 ? * THU"/>
		 -->
		<!-- 每天凌晨统计暗金/神武装备排行:每天23:59:35执行
		<task:scheduled ref="jobManager" method="calcEquipJob" cron="35 59 23 * * ?" />
		 -->
		<!-- 启动定时,每天00:01:00扫描一次跨服云宫之巅活动 
		<task:scheduled ref="jobManager" method="kuafuYunGongActiveJob" cron="0 1 0 * * ?" />
		-->
		
	</task:scheduled-tasks>

</beans>