<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
          http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
          http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">

	<!-- 激活利用注解进行装配 -->
	<context:annotation-config />
	<context:component-scan base-package="com.kernel.spring" />
	
	<context:component-scan base-package="com.junyou.bus" />
	<context:component-scan base-package="com.junyou.io" />
	<context:component-scan base-package="com.junyou.stage" />
	<context:component-scan base-package="com.junyou.login" />
	<context:component-scan base-package="com.junyou.public_" />
	<context:component-scan base-package="com.junyou.configure" />
	<context:component-scan base-package="com.junyou.messageswap" />
	<context:component-scan base-package="com.junyou.gameconfig" />
	<context:component-scan base-package="com.junyou.kuafuio.util" />
	<context:component-scan base-package="com.junyou.kuafuio.handle" />
	<context:component-scan base-package="com.junyou.http.processor" />
	<context:component-scan base-package="com.junyou.event.listener" />
	<context:component-scan base-package="com.kernel.tunnel" />
	
	<task:annotation-driven />
	<aop:aspectj-autoproxy/>

	<!-- all property config -->
	<import resource="property/property.xml"/>
	
	<!-- data access -->
	<import resource="ibatis/ibatisConfig.xml"/>
	
	<!-- module init -->
	<import resource="init/module-init.xml"/>
	
	<!-- spring task init -->
	<import resource="task/spring-task.xml"/>
	<!-- spring event init -->
	<import resource="task/spring-event.xml"/>
	
</beans>